<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Group</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h1>New Group</h1>
    <hr>
    <form action="#" th:action="@{/saveGroup}" th:object="${group}"
          method="POST">
        <div class="form-group">
        <input type="text" th:field="*{groupName}"
               placeholder="Group Name" class="form-control col-4">
        <p class="alert alert-danger form-control mb-4 col-4"
               th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">
        </div>
        <button type="submit" class="btn btn-outline-info col-2"> Save Group</button>
    </form>
    <hr>
    <a th:href = "@{/groups}"> Back to Groups</a>
</div>
</body>
</html>