<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professors</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Professors</h1>
    <a th:href = "@{/newProfessorForm}" class="btn btn-outline-success btn-sm mb-3"> Add Professor </a>
    <a th:href = "@{/}" class="btn btn-link btn-sm mb-3"> Home Page </a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr class="d-flex">
            <th class="col-1"> Professor ID </th>
            <th class="col"> First Name </th>
            <th class="col"> Last Name </th>
            <th class="col-4"> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="professor: ${professors}">
            <th class="col-1" th:text="${professor.professorId}"></th>
            <td class="col" th:text="${professor.firstName}"></td>
            <td class="col" th:text="${professor.lastName}"></td>
            <td class="col-4"> <a th:href="@{/updateProfessorForm/{id}(id=${professor.professorId})}" class="btn btn-outline-primary">Update</a>
                <a th:href="@{/coursesByProfessor/{id}(id=${professor.professorId})}" class="btn btn-outline-primary">Show Courses</a>
                <a th:href="@{/deleteProfessor/{id}(id=${professor.professorId})}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>