<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Professor</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update Professor</h1>
    <hr>
    <form action="#" th:action="@{/updateProfessor/{id}(id=${professor.professorId})}" th:object="${professor}"
          method="POST">
        <input type="hidden" th:field="*{professorId}" />
        <input type="text" th:field="*{firstName}" class="form-control mb-4 col-4">
        <input type="text" th:field="*{lastName}" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-outline-info col-2"> Update Professor</button>
    </form>
    <hr>
    <a th:href = "@{/professors}"> Back to Professors</a>
</div>
</body>
</html>