<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Groups</h1>
    <a th:href = "@{/newGroupForm}" class="btn btn-outline-success btn-sm mb-3"> Add Group </a>
    <a th:href = "@{/}" class="btn btn-link btn-sm mb-3"> Home Page </a>
    <table border="1" class = "table table-striped table-responsive-md w-75">
        <thead>
        <tr class="d-flex">
            <th class="col"> <em>Group ID</em> </th>
            <th class="col"> <em>Group Name</em> </th>
            <th class="col-5"> <em>Actions</em> </th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="group: ${groups}">
            <th class="col" th:text="${group.groupId}"></th>
            <td class="col" th:text="${group.groupName}"></td>
            <td class="col-5"> <a th:href="@{/updateGroupForm/{id}(id=${group.groupId})}" class="btn btn-outline-primary">Update</a>
                <a th:href="@{/studentsByGroup/{id}(id=${group.groupId})}" class="btn btn-outline-primary">Show Students</a>
                <a th:href="@{/deleteGroup/{id}(id=${group.groupId})}" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>