<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update ClassRoom</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Update ClassRoom</h1>
    <hr>
    <form action="#" th:action="@{/updateClassRoom/{id}(id=${classroom.getRoomId()})}" th:object="${classroom}"
          method="POST">

        <input type="hidden" th:field="*{roomId}" />

        <input type="text" th:field="*{roomNumber}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-outline-info col-2"> Update ClassRoom</button>
    </form>
    <hr>
    <a th:href = "@{/classRooms}"> Back to ClassRooms</a>
</div>
</body>
</html>