<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lessons</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-4">
    <h1>Lessons</h1>
    <a th:href = "@{/newLessonForm}" class="btn btn-outline-success btn-sm mb-3"> Add Lesson </a>
    <a th:href = "@{/}" class="btn btn-link btn-sm mb-3"> Home Page </a>
    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr class="d-flex">
            <th class="col-1"> <em>Lesson ID</em> </th>
            <th class="col"> <em>Course</em> </th>
            <th class="col"> <em>Professor</em> </th>
            <th class="col"> <em>Groups</em> </th>
            <th class="col"> <em>ClassRoom</em> </th>
            <th class="col"> <em>LessonTime</em> </th>
            <th class="col-2"> <em>Actions</em> </th>
        </tr>
        </thead>
        <tbody>
        <tr class="d-flex" th:each="lesson: ${lessons}">
            <th class="col-1" th:text="${lesson.lessonId}"></th>
            <td class="col" th:text="${lesson.course.courseName}"></td>
            <td class="col" th:text="|${lesson.professor.firstName} ${lesson.professor.lastName}|"></td>
            <td class="col" th:text="${lesson.groups}"></td>
            <td class="col" th:text="${lesson.classRoom.roomNumber}"></td>
            <td class="col" th:text="${lesson.time.lessonStart}"></td>
            <td class="col-2"> <a th:href="@{/updateLessonForm/{id}(id=${lesson.lessonId})}" class="btn btn-outline-primary">Update</a>
                <a th:href="@{/deleteLesson/{id}(id=${lesson.lessonId})}" class="btn btn-outline-danger">Delete</a>
                <a th:href="@{/editGroupForm/{id}(id=${lesson.lessonId})}" class="mt-2 btn btn-outline-primary btn-sm">Add/Remove Group</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>